// Responsive breakpoints
$responsive-xs-max-width: 520px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #F6F6F6;
$color-bright: #FFD907;
$color-action: #3C4497;
$color-error: #FF191F;

// Fonts

$font-family-primary: 'Circle', 'Roboto', 'Arial', sans-serif;
